---
// TODO 環境設定など
---
<html lang="ja_JP">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <title>WebSite</title>
    </head>
    <body>
        <aside>
            <ul>
                <li>あああ</li>
                <li>あああ</li>
                <li>あああ</li>
                <li>あああ</li>
            </ul>
        </aside>
        <main class='content'>
            <slot />
        </main>
    </body>
</html>
